.table_wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-top: 20px;
  max-width: 100vw;
}

@media (max-width: 768px) {
  .table_wrapper {
    /* width: 100vw; Use viewport width */
    margin-left: calc(-50vw + 50%); /* Center it */
    left: 0;
    right: 0;
    border-radius: 0;
  }
  
  /* Make table very wide to force scrolling */
  .table {
    min-width: 1200px !important;
  }
}


.dropdown_content {
    width: 200px !important;
    padding: 0px !important;
    margin: 0px !important;
}

.dropdown_content p {
    text-align: center;
    margin: 0px;
    padding: 4px 0px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.dropdown_content p:hover {
    background-color: silver;
}

.modal_body {
    padding: 20px;
}

.modal_title {
    display: flex;
    justify-content: space-between;
} 

.modal_title p:first-child {
    font-size: 19px;
    font-family: sans-serif;
}

.modal_title p:last-child {
    font-size: 20px;
}