.error {
    width: 40%;
    margin: auto;
}

.error img {
    width: 100%;
    height: 400px;
}

@media screen and (max-width: 768px) {
    .error {
        width: 100%;
        margin: auto;
    }
}