.footer_container {
    background-color: #222222;
    padding: 50px 0px;
}

.footer_logo {
    width: 200px;
}

@media screen and (max-width: 1000px) {
    .footer_logo {
        width: 200px;
        margin: auto;
    }
}

.footer_logo img {
    width: 100%;
}

.footer_text {
    font-family: sans-serif;
    color: grey;
    font-size: 14px;
}

.footer_contact_us {
    font-size: 25px;
    color: #B9B8B8;
    font-family: sans-serif ;
}

.footer_contact_details {
    display: flex;
    text-align: center;
}

.footer_contact_details span {
    font-size: 30px;
    color: #2752BB;
    text-align: center;
}

.footer_contact_details p {
    font-family: sans-serif;
    font-size: 14px;
    color: grey;
    margin-top: 10px;
    margin-left: 3px;
}