.table_wrapper {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: 20px;
    max-width: 90vw;
    padding-bottom: 100vh;
}

@media (max-width: 768px) {
    .table_wrapper {
        /* width: 100vw; Use viewport width */
        margin-left: calc(-50vw + 50%); /* Center it */
        left: 0;
        right: 0;
        border-radius: 0;
    }
  
    /* Make table very wide to force scrolling */
    .table {
        min-width: 1200px !important;
    }
}

.dropdown_menu {
    border: unset !important;
    border-radius: unset !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0px !important;
}

.dropdown-content {
    width: 200px !important;
    font-family: sans-serif;
    border: unset !important;
    border-radius: unset !important;
}

.dropdown-content p {
    font-family: sans-serif;
    font-size: 14px;
    padding: 3px 20px;
    cursor: pointer;
}

.dropdown-content p span {
    margin-right: 8px;
    color: lightcoral;
}

.modal_body {
    padding: 20px;
}

.modal_title {
    display: flex;
    justify-content: space-between;
}

.modal_form {
    padding: 30px 0px;
}