.required_container {
    margin-bottom: 70px;
}

.required_container img {
    width: 100%;
    height: 300px;
}

.service_card_container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 20px;
    margin-bottom: 70px;
}

.service_image img {
    width: 100%;
}

.service_card_content {
    padding: 30px 0px 0px 0px;
}

.service_title {
    font-size: 20px;
    font-weight: bold;
    color: #343434;
    font-family: sans-serif;
}

.service_description {
    color: #77779E;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

.service_learn_more {
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
}

.service_learn_more p:hover {
    color: #418CCA;
    transition: 1s ease-in;
    cursor: pointer;
}

.horizontal_line {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, transparent, #7B5541, transparent);
    margin: 2rem 0;
}

.modal_container {
    padding: 10px 20px 40px 20px;
}

.modal_image img {
    width: 100%;
}

.modal_title {
    margin: 10px 0px;
}

.modal_content p {
    font-size: 14px;
    font-family: sans-serif;
    word-wrap: break-word;
}