.required_container {
    margin-bottom: 70px;
}

.required_container img {
    width: 100%;
    height: 300px;
}

.track_title {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}

.horizontal_line {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, transparent, #7B5541, transparent);
    margin: 2rem 0;
}

.track_input {
    width: 40%;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .track_input {
        width: 100%;
    }
}

.track_input button {
    background-color: #EEEEEE;
    padding: 10px 10px;
    border-right: 1px solid silver;
}

.track_input input {
    padding: 10px 20px;
    background-color: #EEEEEE;
    color: grey;
    font-family: sans-serif;
}

.track_input input:focus {
    background-color: #EEEEEE;
    color: grey;
    font-family: sans-serif;
}

.space {
    padding: 100px 0px;
}